.App {
 min-height: 100vh;
 background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
}

.search-form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 50%;
    border: none;
    padding: 10px;
}
.search-button {
    background: lightcoral;
    border: none;
    color: white;
}

.recipes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
 
}
